{% extends "office/base_assistant.html" %}

{% block content %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #ffe6d7;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #ffe6d7;
    }
</style>
    
<br> 

<div class="container-fluid text-center display:block">
    <div>
        <table>
            <tr>
                <td style = "border: none; vertical-align: text-top">
                    <form action = '{% url 'office:appointments_list_assistant'%}' method="POST">
                        {% csrf_token %}
                    <input type="date" name="appointment_date">
                    <br><br>
                    <button type="submit">Buscar</button>
                    </form>
                </td>


                <td>
                    <table>
                        <tr>
                            <th style = "border: none">CONSULTAS - {{date}}</th>
                        </tr>
                        <tr>
                            <th>Horários</th>
                            <th>Paciente</th>
                        </tr>
                       
                        {% for appointment in appointments%}                
                            <tr>
                                <td>
                                    {{appointment.0}}
                                </td>
                                
                                <td>
                                    {{appointment.1}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>



{% endblock %}