{% extends "office/base_assistant.html" %}

{% block content %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #ffe6d7;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #ffe6d7;
    }
</style>
    
<br> 

<div class="container-fluid text-center display:block">
    <div>
        <table>
            <tr>
                <td style = "border: none; vertical-align: text-top">
                    {% now "Y-m-d" as current_date%}
                    <form action = '{% url 'office:appointments_list_assistant' date=current_date%}' method="POST">
                        {% csrf_token %}
                    <input id="inputDataConsultas" type="date" name="appointment_date" value = "{{date_default}}">
                    <br><br>
                    
                    <button id="btBuscarDataConsultas" type="submit">Buscar</button>
                    </form>
                </td>


                <td>
                    <table>
                        <tr>
                            <th style = "border: none">CONSULTAS - {{date}}</th>
                        </tr>
                        <tr>
                            <th>Horários</th>
                            <th>  
                                <ul>
                                    <li style = "list-style-type: none">Paciente</li>
                                <ul>
                            </th>
                            <th></th>
                        </tr>
                       
                        {% for appointment in appointments%}                
                            <tr>
                                <td>
                                    {{appointment.0}}
                                </td>
                                
                                <td >
                                    <ul>
                                        {%if appointment.1 == "DISPONÍVEL"%}
                                            <li id="{{'appointment_slot'|add:appointment.2}}" value="{{appointment.1}}" style = "list-style-type: none">{{appointment.1}}</li>
                                        {%else%}
                                            <li id="{{'appointment_slot'|add:appointment.3}}" value="{{appointment.1}}" style = "list-style-type: none">{{appointment.1}}</li>
                                        {%endif%}
                                    </ul>
                                </td>
                                
                                <td>
                                    {%if appointment.1 == "DISPONÍVEL"%}
                                            
                                            <button id= "{{'bt'|add:appointment.2}}" onclick="window.location='{% url 'office:schedule_appointment' date_time=date_default|add:' '|add:appointment.0 %}'; return false;" style="width:110px" value="Agendar">Agendar</button>
                                            
                                    {%else%}
                                        
                                            <button id= "{{'bt'|add:appointment.3}}" onclick="window.location='{% url 'office:unschedule_appointment' appointment_id=appointment.2 %}'; return false;" style="width:110px" value="Desmarcar">Desmarcar</button>

                                    {%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>



{% endblock %}