{% extends "office/base_doctor.html" %}

{% block content %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #ffe6d7;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #ffe6d7;
    }
</style>
    
<br> 

<div class="container-fluid text-center display:block">
    <div>
        <table>
            <tr>
                <td style = "border: none; vertical-align: text-top">
                    {% now "Y-m-d" as current_date%}
                    <form action = '{% url 'office:appointments_list_doctor' date=current_date%}' method="POST">
                        {% csrf_token %}
                        <input id="inputDataConsultas" type="date" name="appointment_date" value = "{{date_default}}">
                        <br><br>
                        <button id="btBuscarDataConsultas" type="submit">Buscar</button>
                    </form>
                </td>


                <td>
                    <table>
                        <tr>
                            <th style = "border: none">CONSULTAS - {{date}}</th>
                        </tr>
                        <tr>
                            <th>Horários</th>
                            <th>Paciente</th>
                            <th></th>
                        </tr>
                       
                        {% for appointment in appointments%}                
                            <tr>
                                <td>
                                    {{appointment.0}}
                                </td>
                                
                                <td>
                                    {{appointment.1}}
                                </td>

                                <td>
                                    {%if appointment.1 == "DISPONÍVEL"%}
                                        
                                            <p>--------------------<p>
                                        

                                    {%else%}
                                        
                                            <button onclick="window.location='{% url 'office:display_appointment_details' appointment_id=appointment.2 %}'; return false;" style="width:110px">Ver</button>
                                        
  
                                    {%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>



{% endblock %}