{% extends "office/base_doctor.html" %}

{% block content %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #ffe6d7;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #ffe6d7;
      }
      </style>

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>DETALHAMENTO DE CONSULTA</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <p><strong>Data: {{appointment.date}}</strong></p>
    <p><strong>Hora: {{appointment.time}}</strong></p>
    <p><strong>Paciente: {{appointment.patient.name}} (CPF {{appointment.patient.CPF}})</strong></p>

    <br>
    <hr>
    
    <section >
        <p> <strong>Entrada de prontuário</strong></p>
        
        {%if medical_record_entry|length == 0 %}
            <form action = '{% url 'office:display_appointment_details' appointment_id=appointment.id%}' method="POST">
                {% csrf_token %}
                <label for="new_medical_record_entry"><strong>Preencha a entrada de prontuário desta consulta:</strong></label>
                <br>
                <textarea id="new_medical_record_entry" name="new_medical_record_entry" cols="60" rows="5"></textarea>
                <br><br>
                <button id="btSalvar" type="submit">Salvar</button>
                <p> <br></p>
            </form>

        {% elif hasToEdit%}
            <form action = '{% url 'office:edit_medical_record_entry' appointment.id%}' method="POST">
            {% csrf_token %}
            <label for="new_medical_record_entry"><strong>Edite a entrada de prontuário desta consulta:</strong></label>
            <br>
            <textarea id="new_medical_record_entry" name="new_medical_record_entry" cols="60" rows="5">{{medical_record_entry.0.content}}</textarea>
            <br><br>
            <button id="btSalvar" type="submit">Salvar</button>
            <p> <br></p>
        </form>

        {% else%}
            {{medical_record_entry.0.content}}
            <br><br>
            <button id="btEditar" onclick="window.location='{% url 'office:edit_medical_record_entry' appointment.id%}'; return false;" >Editar</button>
            <p> <br></p>
        {% endif %}
    </section>

    <hr>

    <section >
        <form action = '{% url 'office:add_document_to_appointment' appointment_id=appointment.id%}' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="lb_add_document_to_appointment"><strong>Adicionar documentos: </strong></label>
            <br><br>
            <input type="text" id="ipt_title_document" name="ipt_title_document" placeholder="Titulo do documento">
            <br><br>
            <input type="file" id="ipt_add_document_to_appointment" name="ipt_add_document_to_appointment">
            <br><br>
            <button id="btAdicionar" type="submit">Adicionar</button>
            <br>
            <p> <br></p>
        </form>
    </section>

    <hr>

    <section >
        <p> <strong>Documentos</strong></p>
        
        <ul>
        {% for documento in documentos%}
            <a id="documento_titulo" style = "text-decoration:none; color: black" href="{{documento.documento_location.url}}"><strong>-</strong> {{documento.titulo}}</a>
            <br><br>
            <form id="form_deletar_documento"  method="POST">
                {% csrf_token %}
                <button type="submit" id="bt_deletar" class="btn btn-danger btn-sm" onclick="funcao1();">Deletar</button>
            </form>

            <br>

            <script>
                function funcao1()
                {
                
                var r=confirm("Tem certeza que deseja apagar esse documento?");
                if (r==true)
                  {
                    document.getElementById("form_deletar_documento").setAttribute("action", "/office/delete_document_from_appointment/{{appointment.id}}/{{documento.id}}/");
                  }
                else
                  {
                    document.getElementById("form_deletar_documento").setAttribute("action", "/office/display_appointment_details/{{appointment.id}}/");
                  }
                }
                </script>
        {% endfor %}
    </ul>
    </section>

    <hr>
    <br><br>

    <button onclick="window.location='{% url 'office:appointments_list_doctor' date=appointment.date%}'; return false;" >Voltar para visualização de consultas</button>

    <br><br>

    <button id="btVerProntuario" onclick="window.location='{% url 'office:patient_medical_record' patient_id=appointment.patient.id%}'; return false;" >Ver prontuário completo</button>

    <br><br>
</div>



{% endblock %}