<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients List</title>
</head>
<body>
    <p>PATIENTS LIST</p>

    <div>
        <table>
            <tr>
                <th>name</th>
                <th>CPF</th>
            </tr>
            {% for patient in patients%}
            <tr>
                <td>{{patient.name}}</td>
                <td>{{patient.CPF}}</td>
            </tr>
            {% endfor %}
    
    
        </table>
    </div>
</body>
</html>