{% extends "office/base_assistant.html" %}

{% block content %}
 
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #ffe6d7;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #ffe6d7;
      }
      </style>
    
    <br> 
    
    <div class="container-fluid text-center display:block">
        <p>&emsp;&emsp;<strong>LISTA DE PACIENTES</strong></p>
        <br>
    
        <div>
            <table class="container-fluid text-center display:block">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
                {% for patient in patients%}
                <tr>
                    <td><a href="{% url 'office:patient_details_assistant' patient_id=patient.id%}" >{{patient.name}}</a></td>
                    <td>{{patient.CPF}}</td>
                </tr>
                {% endfor %}
    
    
            </table>
        </div>
    </div>

{% endblock %}





