{% extends "office/base_assistant.html" %}

{% block content %}
 
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #ffe6d7;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #ffe6d7;
        }
    </style>
        
    <br> 

    <div class="container-fluid text-center display:block">
        <p><strong>LISTA DE PACIENTES</strong></p>
        <br>

        <form action='{% url 'office:list_patients_assistant'%}' method="GET">
            
            <input type="text" name = "patient_filtered" placeholder = "Digite nome ou CPF">
            <input type="submit" value = "Buscar">

        </form>

        <br>
        <p>Clique em um paciente para ver e ou editar seus dados.</p>
        <br>

        <div>
            <table class="container-fluid text-center display:block">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
                {% for patient in patients%}
                <tr>
                    <td>
                        <a  style = "text-decoration:none" href="{% url 'office:patient_details_assistant' patient_id=patient.id%}" ><span style = "color: black">{{patient.name}}</span></a>
                    </td>

                    <td>
                        <a  style = "text-decoration:none" href="{% url 'office:patient_details_assistant' patient_id=patient.id%}" ><span style = "color: black">{{patient.CPF}}</span></a>
                    </td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>

{% endblock %}





