{% extends "office/base_doctor.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>PRONTUÁRIO DO PACIENTE</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <strong>Nome: {{patient.name}}</strong>
    <br>
    <strong>CPF: {{patient.CPF}}</strong>
    <br>
    <strong>Data de nascimento: {{birth_date}}</strong>
    <br>
</div>
     
<div id="medicalRecordContent" class="container-fluid">
    <br><br>
    <hr>
    {%for appointment_data in appointments_data%}
        

                &emsp;&emsp;<strong>Data da consulta: {{appointment_data.0.date}}</strong>
                <br>
                &emsp;&emsp;{{appointment_data.1}}
                <br>
                &emsp;&emsp;&emsp;&emsp;
                
                <ul>
                {%for documento in appointment_data.2%}
                    <li>
                        <a style = "text-decoration:none; color: black" href="{{documento.documento_location.url}}">{{documento.titulo}}</a>
                    </li>
                {% endfor %}
                </ul>

                <hr>
    {% endfor %}

    
</div>

<br><br>
<div class="container-fluid text-center display:block">
    &emsp;&emsp;
    <button type="submit" onclick="window.location='{% url 'office:patient_details_doctor' patient_id=patient.id%}'; return false;" >Ir para detalhamento do paciente</button>
</div>

{% endblock %}