{% extends "office/base_assistant.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>DETALHES DO PACIENTE</strong></p>
    <br>
</div>

        
<form action="edit_patient/{{ patient.id }}" method="POST">
    {% csrf_token %}

    <div class="container-fluid text-center display:block">

        {% if errors.empty_fields %}
            
            <b>{{ errors.empty_fields }}</b></p>
            <br>
        {% endif %}

        {% if errors.invalid_cpf %}
            
            <b>{{ errors.invalid_cpf }}</b></p>
            <br>
        {% endif %}

        {% if errors.repeated_cpf %}
            
            <b>{{ errors.repeated_cpf }}</b></p>
            <br>
        {% endif %}

        
        Nome: <input type="text" name="name" value="{{patient.name}}">
        <br><br>
        Data de nascimento: <input type="date" name="date_of_birth" value="{{birth_date}}">
        <br><br>        
        CPF: <input type="text" name="CPF" value="{{patient.CPF}}">
        <br><br>        
        Telefone: <input type="text" name="phone" value="{{patient.phone}}">
        <br><br>

        &emsp;&emsp;
        <button type="submit">Editar</button>
        &emsp;&emsp;
        <button type="submit" onclick="window.location='{% url 'office:list_patients_assistant'%}'; return false;" >Voltar</button>
    </div>
</form>

{% endblock %}