{% extends "office/base_doctor.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>PRONTUÁRIO DO PACIENTE</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <strong>Nome: {{patient.name}}</strong>
    <br>
    <strong>CPF: {{patient.CPF}}</strong>
    <br>
    <strong>Data de nascimento: {{birth_date}}</strong>
    <br>
</div>
     
<div class="container-fluid">
    <br><br>
    {%for medical_record_entry in medical_record_entries%}
        <tr>
            &emsp;&emsp;<strong>{{medical_record_entry.appointment.date}}</strong>
            <br>
            &emsp;&emsp;{{medical_record_entry.content}}
        </tr>
        <br><br>
    {% endfor %}
    
</div>

<br><br>
<div class="container-fluid text-center display:block">
    &emsp;&emsp;
    <button type="submit" onclick="window.location='{% url 'office:patient_details_doctor' patient_id=patient.id%}'; return false;" >Ir para detalhamento do paciente</button>
</div>

{% endblock %}