<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <title>Medical Office</title>
</head>
<body>
    
    <nav class="navbar-header py-3" style="background-color:#ff670f; ">
        <div class="container-fluid text-center display:block">
            <span class="navbar-brand mb-0 h1" style = "color: white">
                <h1>MEDICAL OFFICE</h1>
            </span>
        </div>
    </nav> 

    <div class="container-fluid text-center display:block">
        <br>
        <p><strong>CADASTRAR USUÁRIO</strong></p>
        <br>
    </div>

    <form method = "POST" >
        {% csrf_token %}
        
        <div class="container-fluid text-center display:block">

            {% if errors.empty_fields %}
                    <div class="alert alert-warning" role="alert">
                        <b>{{ errors.empty_fields }}</b></p>
                        <br>
                    </div>
            {% endif %}
    

            {% if errors.senhas_nao_conferem %}
                    <div class="alert alert-warning" role="alert">
                        <b>{{ errors.senhas_nao_conferem }}</b></p>
                        <br>
                    </div>
            {% endif %}
    
            {% if errors.senha_menor_que_6_digitos %}
                <div class="alert alert-warning" role="alert">    
                    <b>{{ errors.senha_menor_que_6_digitos }}</b></p>
                    <br>
                </div>
            {% endif %}
    
            {% if errors.username_ja_cadastrado %}
                <div class="alert alert-warning" role="alert">    
                    <b>{{ errors.username_ja_cadastrado }}</b></p>
                    <br>
                </div>
            {% endif %}
        
            Nome de usuário: <input type="text" name="username">
            <br><br>
            Email: <input type="Email" id='email' name='email'>
            <br><br>        
            grupo: 
            <input type="radio" id="médicos" name="grupo" value="médicos">
            <label for="médicos">médicos</label> &emsp;
            <input type="radio" id="assistentes" name="grupo" value="assistentes">
            <label for="assistentes">assistentes</label> 
            <br><br>        
            Senha: <input type="password" id='password' name='password'>
            <br><br>
            Confirmar senha: <input type="password" id='cfpassword' name='cfpassword'>
            <br><br>
    
            &emsp;&emsp;
            <button type="submit">Cadastrar</button>
            &emsp;&emsp;
            <button onclick="window.location='{% url 'login'%}'; return false;" >Voltar para login</button>
        </div>     
    </form>

</body>
</html>