{% extends "office/base_manager.html" %}

{% block content %}

    <div class="container-fluid text-center display:block">
        <br>
        <p id="pageName" ><strong>CADASTRAR USUÁRIO</strong></p>
        <br>
    </div>

    <form method = "POST" >
        {% csrf_token %}
        
        <div class="container-fluid text-center display:block">

            {% if errors.empty_fields %}
                    <div id="empty_fields" class="alert alert-warning" role="alert">
                        <b>{{ errors.empty_fields }}</b></p>
                        <br>
                    </div>
            {% endif %}
    

            {% if errors.senhas_nao_conferem %}
                    <div id="senhas_nao_conferem" class="alert alert-warning" role="alert">
                        <b>{{ errors.senhas_nao_conferem }}</b></p>
                        <br>
                    </div>
            {% endif %}
    
            {% if errors.senha_menor_que_6_digitos %}
                <div id="senha_menor_que_6_digitos" class="alert alert-warning" role="alert">    
                    <b>{{ errors.senha_menor_que_6_digitos }}</b></p>
                    <br>
                </div>
            {% endif %}
    
            {% if errors.username_ja_cadastrado %}
                <div id="username_ja_cadastrado" class="alert alert-warning" role="alert">    
                    <b>{{ errors.username_ja_cadastrado }}</b></p>
                    <br>
                </div>
            {% endif %}
        
            Nome de usuário: <input id="username" type="text" name="username">
            <br><br>
            Email: <input type="Email" id='email' name='email'>
            <br><br>        
            grupo: 
            <input type="radio" id="médicos" name="grupo" value="médicos">
            <label for="médicos">médicos</label> &emsp;
            <input type="radio" id="assistentes" name="grupo" value="assistentes">
            <label for="assistentes">assistentes</label> 
            <br><br>        
            Senha: <input type="password" id='password' name='password'>
            <br><br>
            Confirmar senha: <input type="password" id='cfpassword' name='cfpassword'>
            <br><br>
    
            &emsp;&emsp;
            <button id="btRegister" type="submit">Cadastrar</button>

        </div>     
    </form>


    {% endblock %}