{% extends "office/base_assistant.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>REGISTRAR PACIENTE</strong></p>
    <br>
</div>

        
<form  method="POST">
    {% csrf_token %}

    <div class="container-fluid text-center display:block">

        {% if errors.empty_fields %}
                <div class="alert alert-warning" role="alert">
                    <b>{{ errors.empty_fields }}</b></p>
                    <br>
                </div>
        {% endif %}

        {% if errors.invalid_cpf %}
            <div class="alert alert-warning" role="alert">    
                <b>{{ errors.invalid_cpf }}</b></p>
                <br>
            </div>
        {% endif %}

        {% if errors.repeated_cpf %}
            <div class="alert alert-warning" role="alert">    
                <b>{{ errors.repeated_cpf }}</b></p>
                <br>
            </div>
        {% endif %}

        
        Nome: <input type="text" name="name" id="patient_name">
        <br><br>
        Data de nascimento: <input type="date" name="date_of_birth" id="patient_date_of_birth">
        <br><br>        
        CPF: <input type="text" name="CPF" id="patient_cpf" data-mask="000.000.000-00">
        <br><br>        
        Telefone celular: <input type="text" name="phone" data-mask="(00) 00000-0000">
        <br><br>

        &emsp;&emsp;
        <button type="submit">Cadastrar</button>
        &emsp;&emsp;
        <button onclick="window.location='{% url 'office:list_patients_assistant'%}'; return false;" >Cancelar</button>
    </div>
</form>

<!-- Máscaranos inputs: usar jquery  + atributo data-mask = "máscara definida" 
     (ex: <input type="text" data-mask="(00)0000-0000">)
     Organiza no formato da máscara ao digitar no teclado ou ao colar um cpf/telefone
-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock %}


    