{% extends "office/base_assistant.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>AGENDAR CONSULTA</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <p><strong>Data: {{date}}</strong></p>
    <p><strong>Hora: {{time}}</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <form action="" method="POST">
        {% csrf_token %}

        <label for="patients_to_be_selected">Selecione um paciente:</label>
        <br><br>
        <select id="patients_to_be_selected" name="patients_to_be_selected">
            {% for patient in patients%}
            <option value="{{patient.name}}">{{patient.name}} (CPF {{patient.CPF}})</option>
            {% endfor %}
        </select>

        <br><br>
        
        <button onclick="window.location='{% url 'office:appointment_successfully_scheduled'%}'; return false;" style="width:110px">Confirmar</button>
        &emsp;&emsp;
        <button onclick="window.location='{% url 'office:appointments_list_assistant'%}'; return false;" style="width:110px">Voltar</button>
        
    </form>
</div>



{% endblock %}