{% extends "office/base_assistant.html" %}

{% block content %}

<div class="container-fluid text-center display:block">
    <br>
    <p><strong>AGENDAR CONSULTA</strong></p>
    <br>
</div>

{%if is_future_date_time %}

<div class="container-fluid text-center display:block">
    <p><strong>Data: {{date_display}}</strong></p>
    <p><strong>Hora: {{time}}</strong></p>
    <br>
</div>

<div class="container-fluid text-center display:block">
    <form action="{% url 'office:appointment_successfully_scheduled' date_time=date_url|add:' '|add:time %}" method="POST">
        {% csrf_token %}

        <label for="patient_to_be_selected">Selecione um paciente:</label>
        <br><br>
        <select id="patient_to_be_selected" name="patient_to_be_selected">
            {% for patient in patients%}
            <option value={{patient.CPF}}>{{patient.name}}-{{patient.CPF}}</option>
            {% endfor %}
        </select>
        
        <br><br>
        <button type="submit" style="width:110px">Confirmar</button>
        
        &emsp;&emsp;

        <button onclick="window.location='{% url 'office:appointments_list_assistant' date=date_url%}'; return false;" style="width:110px">Voltar</button>
        
    </form>
</div>

{% else%}

<div class="container-fluid text-center display:block">
    <p><strong>Não é possível agendar uma consulta pra uma data e hora no passado!</strong></p>
    <br>
    <p><strong>Escolha uma data e hora no futuro!</strong></p>
    <br>

    <button onclick="window.location='{% url 'office:appointments_list_assistant' date=date_url%}'; return false;" style="width:110px">Voltar</button>
</div>

{% endif %}


{% endblock %}